html, body{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.image-section {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
}

.image-section img {
    height:100vh;
}

.image-section .credit{
    position: absolute;
    bottom: 2vh;
}

a:visited {
    color: inherit;
}

.image-section .modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background: rgb(0,0,0,0.6);
    width: 100%;
    top:20vh;
    font-family: 'Tilt Prism', cursive;
    font-size: 50px;
}

.image-section .modal > *{
    margin: 0px 10px 0px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.modal img{
    width: 100px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.content > * {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 20px;
}

.content .about{
    height: calc(20vh + 100px);
    background-color: #F2F2F2;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

.content .about > span {
    margin-top: auto;
    padding-bottom: 40px;
}

.content .form-section{
    padding-bottom: 20px;
}

.content form .form-row{
    display: flex;
    gap: 60px;
    padding: 10px 0px 10px;
    font-size: 10px;
    letter-spacing: 0.2em;
}

.content form input{
    width: 250px;
    height: 1.5em;
    margin-top: 5px;
}

.content form .form-row:first-child{
    padding-top: 0px;
}

.content form .form-row:last-child{
    padding-bottom: 0px;
}

.content > div:last-child{
    flex-grow: 1;
    padding: 30px 40px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
}
